<div ng-controller='HomeCtrl'>
	<h3>NOTE: this requires a working backend to actually handle the file upload - without the backend, the file can't be displayed so this won't be fully functional without it.</h3>
	<br /><br />
	<div jrg-image-upload opts='uploadOpts' ng-model='image'></div>
	ngModel: {{image}}
	
	<br /><br />
	<button ng-click='clearImage({})'>Clear Image</button>
	
	<br /><br /><br /><br />
	Image 2:
	<div jrg-image-upload opts='uploadOpts2' ng-model='image2'></div>
	ngModel: {{image2}}
	
	
	<br /><br /><br /><br />
	<div ng-repeat='image in images'>
		<div jrg-image-upload opts='image.uploadOpts' ng-model='image.image'></div>
		ngModel: {{image.image}}
	</div>
	<button ng-click='addImage()'>Add Image</button>
</div>